.faq {
  &__accordion-partners {
    background-color: #3b163c;
    // min-height: 100vh;
    padding: 88px 0;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(/images/bg-faqs.jpg);
  }

  &__content-header {
    padding: 0 80px 48px 80px;
    width: 50%;
    max-width: 880px;
    line-height: 28px;
  }

  &__title-wrap {
    h3 {
      font-size: 40px;
      color: #e5ded5;
      letter-spacing: -1.88;
      font-weight: 300;
      margin: 0 0 40px;
      line-height: 1.4;
    }
  }

  &__content-accordion {
    &-wrapper {
      height: 100%;
    }
  }

  &__accordion_item {
    border-top: 1px solid #ff8964;

    &:last-child {
      border-bottom: 1px solid #ff8964;
    }
  }

  &__accordion_title_partners {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
  }

  &__accordion_title_text {
    display: flex;
    position: relative;
    cursor: pointer;
    color: #ff8964;
    font-size: 32px;
    font-weight: 300;
    max-width: 90%;
    line-height: 1;
  }

  &__accordion_title_icon {
    width: 30px;
    cursor: pointer;
    min-width: 30px;

    .faq__accordion-closed {
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }

    .faq__accordion-opened {
      width: 100%;
      height: 100%;
      vertical-align: middle;
      display: none;
    }
  }

  &__accordion_text {
    display: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.167;
    color: #ff8964;
    margin-left: 50%;
    margin-right: 10%;
    margin-bottom: 40px;
  }

  &__accordion-title-prefix {
    font-size: 18px;
    margin-right: 18px;
  }

  &__download-content-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 2.5em 5em 0;
    align-items: center;

    a {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-decoration: none;
    }
  }

  &____download-icon {
    width: 30px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__download-title {
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    color: #ff8964;
    font-size: 2em;
    font-weight: 300;
    margin-right: 25px;
    cursor: pointer;
  }
}
