@font-face {
    font-family: "sp_regular";
    src: url("../fonts/sp-sans-web-regular.woff2") format("woff2"), url("../fonts/sp-sans-web-regular.woff") format("woff"), url("../fonts/sp-sans-web-regular.eot") format("eot");
}

@font-face {
    font-family: "sp_medium";
    src: url("../fonts/sp-sans-web-medium.woff2") format("woff2"), url("../fonts/sp-sans-web-medium.woff") format("woff"), url("../fonts/sp-sans-web-medium.eot") format("eot");
}