.sticky {
  background-color: #22383c;
  overflow: hidden;

  &__active {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  &__nav-item {
    display: flex;
    justify-content: flex-end;
    gap: 0rem 10px;
    padding: 30px 60px;
    margin: 0;
  }

  &__list {
    list-style: none;
    font-size: 15px;
  }

  &__link {
    text-decoration: none;
    border: 1px solid orange;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 150px;
    color: orange;
    font-weight: 300;
    transition: all 0.3s;

    &:hover {
      background-color: orange;
      color: white;
    }
  }

  &__logo {
    margin-right: auto;
  }
}
